body, h1, h2, h3, h4, ul, ol, li, p {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.l-content {
  width: 1030px;
  padding: 0 25px;
  margin: 0 auto; }
  .l-content:after {
    content: "";
    display: block;
    clear: both; }

.l-main {
  float: left;
  width: 700px; }

.l-side {
  float: right;
  width: 300px; }

.l-half {
  display: flex;
  flex-wrap: wrap; }
  .l-half > * {
    width: 50%; }

.l-main p {
  margin-bottom: 30px; }

.l-main .l-bottom-none {
  margin-bottom: 0 !important; }

.l-align-center {
  text-align: center; }

.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.l-header {
  display: flex;
  justify-content: space-between; }

.l-bottom {
  margin-bottom: 35px; }

.l-share {
  padding: 5px 0 20px 0; }

.l-shareWide {
  padding: 50px 0; }

.l-article-head {
  position: relative;
  padding: 35px 230px 15px 0; }
  .l-article-head .l-article-head-info {
    position: absolute;
    top: 35px;
    right: 0;
    width: 200px; }
    .l-article-head .l-article-head-info .l-article-head-info-status {
      float: left;
      width: 40%;
      margin-bottom: 20px;
      text-align: center; }
      .l-article-head .l-article-head-info .l-article-head-info-status:last-child {
        width: 60%; }
    .l-article-head .l-article-head-info .l-article-head-info-button {
      text-align: center; }

.l-footer .l-footer-left-nav {
  width: 560px; }

.l-footer .l-footer-right-nav {
  width: 470px; }

header .header-inner {
  padding: 27px 25px; }

header .header-search-container .header-search {
  box-sizing: border-box;
  width: 220px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 0 30px 0 10px;
  font-size: 12px;
  line-height: 30px;
  background-color: #f5f5f5; }

.footer-container {
  border-top: solid #eee 1px; }
  .footer-container .footer {
    width: 1030px;
    margin: 0 auto;
    padding: 25px 25px 30px;
    font-size: 13px;
    color: #555; }
    .footer-container .footer .footer-nav .footer-nav-title {
      font-size: 13px;
      font-weight: bold;
      padding: 12px 0 12px;
      color: #555; }
    .footer-container .footer .footer-nav .footer-list .footer-list-item {
      display: inline-block;
      margin: 0 12px 5px 0; }
    .footer-container .footer .footer-nav .footer-list .footer-list-mapIcon:before {
      font-family: "Font Awesome 5 Free";
      content: "\f3c5";
      font-weight: bold;
      margin-right: 5px;
      font-size: 10px;
      color: #c7c7c7; }
    .footer-container .footer .footer-nav .footer-list .footer-list-sharpIcon:before {
      font-family: "Font Awesome 5 Free";
      content: "\f292";
      font-weight: bold;
      margin-right: 5px;
      font-size: 10px;
      color: #c7c7c7; }
    .footer-container .footer .footer-nav .footer-list .footer-list-item:hover {
      text-decoration: underline; }
    .footer-container .footer .footer-nav .footer-table-container {
      display: table;
      width: 100%;
      table-layout: fixed; }
      .footer-container .footer .footer-nav .footer-table-container .footer-table {
        display: table-cell;
        font-size: 12px;
        margin-left: 40px; }
        .footer-container .footer .footer-nav .footer-table-container .footer-table .footer-table-list {
          margin-bottom: 10px; }
        .footer-container .footer .footer-nav .footer-table-container .footer-table .footer-table-list :hover {
          text-decoration: underline; }

.article-info {
  color: #222; }
  .article-info .article-info-text {
    font-size: 23.5px; }
  .article-info .article-info-subText {
    font-size: 10px;
    letter-spacing: .5px; }

.breadcrumb-container {
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee; }
  .breadcrumb-container .breadcrumb {
    width: 1030px;
    margin: 0 auto;
    padding: 9px 25px;
    color: #999; }
  .breadcrumb-container .breadcrumb-item {
    display: inline;
    font-size: 12px;
    line-height: 1.6; }
    .breadcrumb-container .breadcrumb-item::after {
      content: ">";
      position: relative;
      top: -2px;
      padding: 0 12px; }
    .breadcrumb-container .breadcrumb-item:last-child::after {
      content: ""; }

.description {
  color: #555;
  background-color: #f7f7f7;
  padding: 20px 25px; }

.index {
  color: #555;
  background-color: #f7f7f7;
  border: solid 2px #f3f3f3;
  padding: 20px 25px; }
  .index .index-title {
    font-size: 17px;
    font-weight: bold;
    color: 333;
    padding: 0 0 15px; }
  .index .index-list .index-list-item {
    position: relative;
    margin-bottom: 8px;
    padding-left: 21px;
    line-height: 1.4; }
    .index .index-list .index-list-item::before {
      content: '';
      position: absolute;
      left: 4px;
      top: 9px;
      display: block;
      width: 5px;
      height: 1px;
      background: #555; }

.main-section-title {
  font-size: 22px;
  font-weight: bold;
  padding: 20px 0 15px;
  margin-bottom: 25px;
  border-bottom: solid 3px #000; }

.side-section-title {
  font-size: 16px;
  font-weight: bold;
  padding: 35px 0 9px;
  margin: 0;
  border-bottom: solid 1px #444; }

.purple-underLine {
  border-bottom-color: #4cc3ce; }

.blue-underLine {
  border-bottom-color: #1991ba; }

.yellow-underLine {
  border-bottom-color: #ffbf00; }

.media {
  display: table;
  table-layout: fixed;
  padding: 18px 0;
  border-bottom: solid 1px #eee; }
  .media .media-thumbnail-container {
    display: table-cell; }
    .media .media-thumbnail-container .media-thumbnail {
      vertical-align: middle;
      width: 70px;
      height: 70px; }
    .media .media-thumbnail-container .media-thumbnail-circle {
      vertical-align: middle;
      width: 70px;
      height: 70px;
      border-radius: 50%; }
  .media .media-thumbnail-container:hover {
    cursor: pointer;
    opacity: 0.5; }
  .media .media-body {
    display: table-cell;
    vertical-align: middle; }
    .media .media-body .media-text {
      padding-left: 5px;
      font-size: 13px; }

.sideLink {
  margin-top: 12px;
  text-align: right;
  font-size: 12px;
  color: #999; }

.tag-container {
  padding: 18px 0;
  border-bottom: solid 1px #eee; }
  .tag-container .tag {
    display: inline-block;
    margin-right: 20px;
    font-size: 13px;
    line-height: 32px; }

.label-container {
  display: inline-block;
  margin: 0 10px 10px 0;
  font-size: 13px;
  line-height: 32px;
  border: solid 1px #eee;
  background-color: #f9f9f9;
  border-radius: 3px; }
  .label-container .label {
    padding: 0 10px;
    font-size: 12px;
    color: #666; }

.outSide {
  margin-bottom: 40px; }
  .outSide .outSide-thumbnail-container {
    float: left; }
    .outSide .outSide-thumbnail-container .outSide-thumbnail {
      width: 170px;
      height: 170px; }
    .outSide .outSide-thumbnail-container .outSide-thumbnail:hover {
      cursor: pointer;
      opacity: .5; }
  .outSide .outSide-body {
    float: left;
    padding: 20px;
    width: 490px;
    height: 130px;
    background-color: #f7f7f7; }
    .outSide .outSide-body .outSide-body-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
      color: #555; }
    .outSide .outSide-body .outSide-body-info > li {
      margin-top: 3px;
      color: #999;
      font-size: 11px; }

.share .share-button {
  display: inline-block;
  width: 125px;
  height: 38px;
  line-height: 40px;
  margin-right: 13px;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  cursor: pointer; }
  .share .share-button:last-child {
    margin-right: 0; }
  .share .share-button:hover {
    opacity: .5; }

.share .share-button-wide {
  width: 298px;
  height: 60px;
  border-radius: 7px;
  margin-right: 15px;
  font-size: 15px;
  line-height: 63px;
  letter-spacing: 1.5px; }

.share .share-facebook {
  background-color: #3b5998;
  border-bottom: solid 2px #404c66; }
  .share .share-facebook::before {
    font-family: "Font Awesome 5 Free";
    content: "\f39e";
    font-weight: bold;
    margin-right: 9px; }
  .share .share-facebook:hover {
    opacity: .5; }

.share .share-twitter {
  background-color: #55acee;
  border-bottom: solid 2px #5698cb; }
  .share .share-twitter::before {
    font-family: "Font Awesome 5 Free";
    content: "\f099";
    font-weight: bold;
    margin-right: 9px; }
  .share .share-twitter:hover {
    opacity: .5; }

.share .share-google {
  background-color: #db4437;
  border-bottom: solid 2px #be382a; }
  .share .share-google::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0d5";
    font-weight: bold;
    margin-right: 9px; }
  .share .share-google:hover {
    opacity: .5; }

.share .share-hatena {
  background-color: #008fde;
  border-bottom: solid 2px #0077bb; }
  .share .share-hatena::before {
    font-family: "Font Awesome 5 Free";
    content: "\f128";
    font-weight: bold;
    margin-right: 9px; }
  .share .share-hatena:hover {
    opacity: .5; }

.share .share-pocket {
  background-color: #ed4055;
  border-bottom: solid 2px #cc3750; }
  .share .share-pocket::before {
    font-family: "Font Awesome 5 Free";
    content: "\f265";
    font-weight: bold;
    margin-right: 9px; }
  .share .share-pocket:hover {
    opacity: .5; }

.text-small {
  font-size: 12px; }

.text-glay {
  color: #aaa; }

.text-section::before {
  content: "|";
  font-size: 11px;
  margin: 0 7px; }

.button {
  height: 45px;
  line-height: 46px;
  border-radius: 6px;
  font-weight: bold;
  color: #666;
  text-align: center;
  background-color: #f5f5f5;
  border-bottom: solid 2px #e5e5e5;
  letter-spacing: 1px; }

.button-fav-icon::before {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: bold;
  margin-right: 9px; }

.button-fav-icon:hover {
  cursor: pointer;
  opacity: .5; }

.induction-container {
  background-color: #f9f9f9;
  border-top: solid 1px #eee; }
  .induction-container .induction {
    width: 1030px;
    margin: auto;
    height: 235px;
    padding: 40px 0 0 335px;
    box-sizing: border-box;
    background: url(../../img/induction-sp.png) 41px top no-repeat;
    background-size: auto 235px; }
    .induction-container .induction .induction-title {
      color: #444;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.3;
      margin-bottom: 12px; }
    .induction-container .induction .induction-text {
      color: #555;
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 20px; }
    .induction-container .induction .induction-image-container {
      float: left;
      margin-right: 20px; }
      .induction-container .induction .induction-image-container .induction-image {
        width: 170px; }
        .induction-container .induction .induction-image-container .induction-image:hover {
          opacity: .5; }
