body, h1, h2, h3, h4, ul, ol, li, p {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.l-content {
  width: 1030px;
  padding: 0 25px;
  margin: 0 auto; }
  .l-content:after {
    content: "";
    display: block;
    clear: both; }

.l-main {
  float: left;
  width: 700px; }

.l-side {
  float: right;
  width: 300px; }

.l-half {
  display: flex;
  flex-wrap: wrap; }
  .l-half > * {
    width: 50%; }

.l-main p {
  margin-bottom: 30px; }

.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.l-header {
  display: flex;
  justify-content: space-between; }

.l-bottom {
  margin-bottom: 35px; }

header .header-inner {
  padding: 27px 25px; }

header .header-search-container .header-search {
  box-sizing: border-box;
  width: 220px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 0 30px 0 10px;
  font-size: 12px;
  line-height: 30px;
  background-color: #f5f5f5; }

.footer-container {
  border-top: solid #eee 1px; }
  .footer-container .footer {
    width: 1030px;
    margin: 0 auto;
    padding: 25px 25px 30px;
    font-size: 13px;
    color: #555; }
    .footer-container .footer .footer-nav .footer-nav-title {
      font-size: 13px;
      font-weight: bold;
      padding: 12px 0 12px;
      color: #555; }
    .footer-container .footer .footer-nav .footer-list .footer-list-item {
      display: inline-block;
      margin: 0 12px 5px 0; }
    .footer-container .footer .footer-nav .footer-list .footer-list-item:hover {
      text-decoration: underline; }
    .footer-container .footer .footer-nav .footer-table-container {
      display: table;
      width: 100%;
      table-layout: fixed; }
      .footer-container .footer .footer-nav .footer-table-container .footer-table {
        display: table-cell;
        margin-left: 40px; }
        .footer-container .footer .footer-nav .footer-table-container .footer-table .footer-table-list {
          margin-bottom: 10px; }
        .footer-container .footer .footer-nav .footer-table-container .footer-table .footer-table-list :hover {
          text-decoration: underline; }

.breadcrumb-container {
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee; }
  .breadcrumb-container .breadcrumb {
    width: 1030px;
    margin: 0 auto;
    padding: 9px 25px;
    color: #999; }
  .breadcrumb-container .breadcrumb-item {
    display: inline;
    font-size: 12px;
    line-height: 1.6; }
    .breadcrumb-container .breadcrumb-item::after {
      content: ">";
      position: relative;
      top: -2px;
      padding: 0 12px; }
    .breadcrumb-container .breadcrumb-item:last-child::after {
      content: ""; }

.description {
  background-color: #f7f7f7;
  padding: 20px 25px; }

.index {
  background-color: #f7f7f7;
  border: solid 2px #f3f3f3;
  padding: 20px 25px; }
  .index .index-list .index-list-item {
    position: relative;
    margin-bottom: 8px;
    padding-left: 21px;
    line-height: 1.4; }
    .index .index-list .index-list-item::before {
      content: '';
      position: absolute;
      left: 4px;
      top: 9px;
      display: block;
      width: 5px;
      height: 1px;
      background: #555; }

.main-section-title {
  font-size: 22px;
  font-weight: bold;
  padding: 20px 0 15px;
  margin-bottom: 25px;
  border-bottom: solid 3px #000; }

.side-section-title {
  font-size: 16px;
  font-weight: bold;
  padding: 35px 0 9px;
  margin: 0;
  border-bottom: solid 1px #444; }

.purple-underLine {
  border-bottom-color: #4cc3ce; }

.blue-underLine {
  border-bottom-color: #1991ba; }

.yellow-underLine {
  border-bottom-color: #ffbf00; }

.media {
  display: table;
  table-layout: fixed;
  padding: 18px 0;
  border-bottom: solid 1px #eee; }
  .media .media-thumbnail-container {
    display: table-cell; }
    .media .media-thumbnail-container .media-thumbnail {
      vertical-align: middle;
      width: 70px;
      height: 70px; }
    .media .media-thumbnail-container .media-thumbnail-circle {
      vertical-align: middle;
      width: 70px;
      height: 70px;
      border-radius: 50%; }
  .media .media-thumbnail-container:hover {
    cursor: pointer;
    opacity: 0.5; }
  .media .media-body {
    display: table-cell;
    vertical-align: middle; }
    .media .media-body .media-text {
      padding-left: 5px;
      font-size: 13px; }

.sideLink {
  margin-top: 12px;
  text-align: right;
  font-size: 12px;
  color: #999; }

.tag-container {
  padding: 18px 0;
  border-bottom: solid 1px #eee; }
  .tag-container .tag {
    display: inline-block;
    margin-right: 20px;
    font-size: 13px;
    line-height: 32px; }

.label-container {
  display: inline-block;
  margin: 0 10px 10px 0;
  font-size: 13px;
  line-height: 32px;
  border: solid 1px #eee;
  background-color: #f9f9f9;
  border-radius: 3px; }
  .label-container .label {
    padding: 0 10px;
    font-size: 12px;
    color: #666; }

.outSide {
  margin-bottom: 40px; }
  .outSide .outSide-thumbnail-container {
    float: left; }
    .outSide .outSide-thumbnail-container .outSide-thumbnail {
      width: 170px;
      height: 170px; }
    .outSide .outSide-thumbnail-container .outSide-thumbnail:hover {
      cursor: pointer;
      opacity: .5; }
  .outSide .outSide-body {
    float: left;
    padding: 20px;
    width: 490px;
    height: 130px;
    background-color: #f7f7f7; }
    .outSide .outSide-body .outSide-body-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
      color: #555; }
    .outSide .outSide-body .outSide-body-info > li {
      margin-top: 3px;
      color: #999;
      font-size: 11px; }
