.breadcrumb-container {
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;

  .breadcrumb {
    width: 1030px;
    margin: 0 auto;
    padding: 9px 25px;
    color: #999;
  }

  .breadcrumb-item {
    display: inline;
    font-size: 12px;
    line-height: 1.6;

    &::after {
      content: ">";
      position: relative;
      top: -2px;
      padding: 0 12px;
    }

    &:last-child::after{
      content: "";
    }

  }
}
