.footer-container {
  border-top: solid #eee 1px;

  .footer {
    width: 1030px;
    margin: 0 auto;
    padding: 25px 25px 30px;

    .footer-nav {

      .footer-list {

        .footer-list-item {
          display: inline-block;
        }
      }
    }
  }
}
