.main-section-title {
  font-size: 22px;
  font-weight: bold;
  padding: 20px 0 15px;
  margin-bottom: 25px;
  border-bottom: solid 3px #000;
}

.side-section-title {
  font-size: 16px;
  font-weight: bold;
  padding: 35px 0 9px;
  margin: 0;
  border-bottom: solid 1px #444;
}


.purple-underLine {
  border-bottom-color: #4cc3ce;
}
.blue-underLine {
  border-bottom-color: #1991ba;
}
.yellow-underLine {
  border-bottom-color: #ffbf00;
}
