.main-section-title {
  font-size: 22px;
  padding: 20px 0 15px;
  margin-bottom: 25px;
  border-bottom: solid 3px #000;
}

.side-section-title {
  font-size: 16px;
  padding: 35px 0 9px;
  margin: 0;
  border-bottom: solid 1px #444;
}
