.l-content {
  width: 1030px;
  padding: 0 25px;
  margin: 0 auto;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.l-main {
  float: left;
  width: 700px;
}

.l-side {
  float: right;
  width: 300px;
}

.l-half {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 50%;
  }
}
